//variables
$brand-primary: #75ff68;
$brand-secondary: rgba(199, 212, 132, 0.74);
$nav-text-color: rgba(255, 255, 255, 0.849);
$nav-text-size: 25px;
$nav-logo-width: 60px;
$nav-name-size: 20px;
$nav-title-size: 15px;

$headline-divider: 5px;





*{
    box-sizing: border-box;
}